.post-wrapper{
    border-radius: 8px;
    border: 1px solid #747474;
    display: flex;
    flex-direction: column;
	max-width: 100%;
	padding: 12px;
	gap: 16px;
	box-shadow: 0 0 10px #74747455;
}

.post-title{
	border-bottom: 1px solid;
}

.post-tags-wrapper{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 12px;
	margin-top: 16px;
}

.post-tags{
	border-radius: 10px;
	background-color: #525252;
	color:#FFF;
	padding: 8px;
}
